// This is where your application styles could go.
.bx--accordion__item {
    background-color: #ecffeb;
}


.bx--accordion {
    width: calc(150% - 3rem) !important;
}



.Markdown-module--blockquote--ckTT4 {
    background-color: #def0fd;
    margin-left: 0px;
    padding: 20px;
}


.bx--row p {
    line-height: 1.334;
    font-size: 1.2rem !important;
    font-style: normal !important;
    width: calc(100% - 3rem) !important;
}

.AutolinkHeader-module--header--dbNXG Markdown-module--h3--kj+Xb {
    background-color: #defde4;
    margin-top: 0px !important;
    padding: 10px;
}
